# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
bot.log
yemen_net_bot_data
reports/daily_reports/*.json
reports/daily_reports/*.txt
reports/spreadsheets/*.xlsx
reports/spreadsheets/*.xls
*.zip
local_settings.py
db.sqlite3
db.sqlite3-journal

# Database
yemen_net.db

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db