# Django stuff:
*.log
bot.log
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
*.egg-info/
.venv/
venv/
.cache/
**/__pycache__/
.vscode/
.idea/
yemen_net_bot_data
reports/daily_reports/*.json
reports/daily_reports/*.txt
reports/spreadsheets/*.xlsx
reports/spreadsheets/*.xls
*.zip
local_settings.py
db.sqlite3
db.sqlite3-journal

yemen_net.db